.App {
  text-align: center;
}

h1{
  color: #ffffff;
  font-family: cursive;
  font-weight: bold;
  margin: 0px;
}

.App-header {
  background-image: url('./images/Explorer\ Enjoying\ Night\ View.svg');
  min-height: 100vh;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
}

.cover-btn{
  margin-top: 20px;
  color: aliceblue;
}

.cover-btn .MuiButton-outlined {
  border: 1.5px solid #ffffff;
}

.cover-btn .MuiButton-root {
  color: #a41dda;
  font-weight: bold;
  font-family: cursive;
}

div.wrap-frame {
  margin: 50px;
  background-color: rgba(0, 0, 0, 0.87);
  opacity: 0.6;
  display: inline-block;
  margin-top: 200px;
  padding: 50px;
  border-radius: 20px;
}

a .post-btn {
  text-decoration: none;
}
