

.PostPage h1 {
    /* font-family: 'Lemonada', cursive; */
    font-family: 'Merriweather', serif;
    color: #000 !important;
    padding-top: 50px;
}

.PostPage h1::first-letter{
    text-transform: capitalize;
}

.PostPage {
    text-align: center;
    background-image: url(../images/Pattern-Randomized.svg);
    min-height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: 0px;
}

.PostPage-header .info, .info .dot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span{
    margin:5px;
    color:#777;
}

.post-wrap {
    width: 80%;
    background-color: #fff;
    opacity: 0.8;
    backdrop-filter: blur(19px);
    display: inline-block;
    margin-top: 20px;
    padding: 35px;
    color: #000;
    margin-bottom: 80px;
}

