h1 {
    color: black;
    /* font-family: 'Lemonada', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Ma Shan Zheng', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Courgette', cursive;

}

.Items {
    text-align: center;
  }

.Items-header {
    background-image: url('../images/Scattered-Forcefields.svg');
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
  }

  /* div.wrap-frame {
    margin: 50px;
    background-color: #FF5722;
    opacity: 0.6;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
  } */

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  .card {
    background-color: deepskyblue;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:  250px;
    max-width: 250px;    
    height: 150px;
    border-radius: 15px;
    /* margin-left: 60px; */
    /* margin-top: 60px; */
    /* margin-bottom: 60px; */
  }

  

  .card .color-bar {
    width: 100%;
    height: 30px;
    background-color: #9C27B0;
  }

  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  
  
  .Items a {
    text-decoration: none !important;

  }

  .title{
    word-wrap: break-word;
    white-space: pre;
    overflow:hidden;
    text-overflow: ellipsis;
    color: #000;
  }

  .title, .date{
    color: #000;
  }

  .title::first-letter{
    text-transform: capitalize;
  }